body {
    background: rgb(68, 125, 199);
    color: white;
    font: normal 18pt Arial;
    padding: 10px;
}

input {
    font: normal 18pt Arial;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
}

.button {
    background: linear-gradient(to right, #ff9900, #ffcc00);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    cursor: pointer;
    height: 30px;
}

div#res {
    margin-top: 20px;
}